*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0d1117;
    color:#e6edf3;
    line-height:1.6;
}

.layout{
    display:grid;
    grid-template-columns:230px 1fr;
    min-height:100vh;
}

.sidebar{
    background:#161b22;
    border-right:1px solid #30363d;
    padding:30px 20px;
    position:sticky;
    top:0;
    height:100vh;
}

.site-name{
    font-size:24px;
    margin-bottom:40px;
    color:#ffffff;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin-bottom:18px;
}

.nav-link{
    color:#c9d1d9;
    text-decoration:none;
    transition:.2s;
}

.nav-link:hover{
    color:#58a6ff;
}

main{
    max-width:1100px;
    padding:50px;
}

section{
    margin-bottom:80px;
}

h2{
    font-size:30px;
    margin-bottom:25px;
    color:#58a6ff;
}

h3{
    margin-bottom:8px;
    color:white;
}

p{
    margin-bottom:16px;
}

.hero{
    display:grid;
    grid-template-columns:2fr 1fr;
    align-items:center;
    gap:50px;
    min-height:100vh;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
    color:white;
}

.intro{
    font-size:18px;
    max-width:650px;
}

.hero-photo{
    display:flex;
    justify-content:center;
}

.profile-picture{
    width:240px;
    height:240px;
    object-fit:cover;
    border-radius:50%;
    border:3px solid #30363d;
}

.btn{
    display:inline-block;
    margin-top:25px;
    background:#58a6ff;
    color:#0d1117;
    text-decoration:none;
    padding:12px 22px;
    border-radius:6px;
    font-weight:bold;
}

.btn:hover{
    background:#79c0ff;
}

.education-item{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:8px;
    padding:18px;
    margin-bottom:18px;
}

.education-item span{
    color:#8b949e;
}

.skills-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
}

.skills-list{
    margin-left:20px;
    margin-top:10px;
}

.skills-list li{
    margin-bottom:10px;
}

.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.card{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:8px;
    padding:18px;

    display:flex;
    flex-direction:column;

    transition:.2s;
}

.card:hover{
    transform:translateY(-4px);
}

.card-img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:5px;
    margin-bottom:15px;
}

.card-title{
    font-size:22px;
}

.card-meta{
    color:#8b949e;
    font-size:14px;
    margin-bottom:12px;
}

.card-desc{
    flex-grow:1;
}

.card-link{
    color:#58a6ff;
    text-decoration:none;
    font-weight:bold;
    margin-top:15px;
}

.card-link:hover{
    color:#79c0ff;
}

footer{
    border-top:1px solid #30363d;
    padding-top:40px;
}

.email-link{
    color:#58a6ff;
    text-decoration:none;
}

.email-link:hover{
    color:#79c0ff;
}

.copyright{
    color:#8b949e;
    margin-top:30px;
    font-size:14px;
}